<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maltoza zaloguj się ByczQ</title>
    <link rel="shortcut icon" type="image/png" th:href="@{maltoza-favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="page-content">
    <div class="login-box">
        <h1>Zaloguj się</h1>
        <form th:action="@{/login}" method="post" class="form-signin">

            <div th:if="${param.error}" class="alert alert-error">
                Zły username albo password
            </div>

            <div th:if="${param.logout}" class="alert alert-success">
                wylogowano byczq
            </div>

            <div class="textbox">
                <i class="fas fa-users"></i>
                <input type="text" id="username" name="username" placeholder="Username">
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>

            <button type="submit" class="btn">Log in</button>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>