<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Maltoza token ByczQ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
    <link rel="shortcut icon" type="image/png" th:href="@{maltoza-favicon.png}">

</head>
<body>
<div class="page-content">
    <div class="bckgrnd"></div>
    <form th:action="@{/token}" method="post">
        <div class="login-box">
            <h1>Token ByczQ</h1>
            <div class="textbox">
                <i class="fas fa-key"></i>
                <input type="text" id="typedTokenValue" name="typedTokenValue" placeholder="Code">
            </div>
            <input type="submit" value="Check" class="btn">
    </form>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
