<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
    <link rel="shortcut icon" type="image/png" th:href="@{maltoza-favicon.png}">
</head>
<body>
<footer>
    <div class="footer-container">
        <div class="left-col">
            <img src="/img/malto-white-logo.png" alt="" class="logo">
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <p class="rights-text">© 2021 Created by Maltoza All Rights Reserved.</p>
        </div>

        <div class="right-column">
            <h1>Our Newsletter</h1>
            <div class="border"></div>
            <p>Enter your e-mail address to get our news and updates.</p>
            <form action="" class="newsletter-form">
                <input type="text" class="txtb" placeholder="Enter your e-mail">
                <input type="submit" class="btn" value="submit">
            </form>
        </div>
    </div>
</footer>

</body>
</html>